
/* Global */

body {
  background: #DAF2B9 url(../images/background.jpg) no-repeat center top;
}

body, table, td {
  color: #494949;
}

input, textarea, select {
  color: #494949;
}

a:link, a:visited {
  color: #43B74C;
}

a:hover {
  color: #5A7E99;
}

li a.active {
  color: #35933c;
}

tr.odd {
  background-color: #EFF5FF;
}

tr.even {
  background-color: #FFF;
}

fieldset {
  border: 2px solid #DDD;
}

/* Messages */

.status {
  border: 1px solid #92DA97;
  background-color: #CDFFD1;
}

.help {
  border: 1px solid #369;
  background-color: #D2D9FF;
}

.notice {
  border: 1px solid #C9CB55;
  background-color: #FFFDB5;
}

div.error {
  border: 1px solid #F88;
}

div.error,
tr.error {
  background-color: #FCC;
  color: #494949;
}

/* Nodes */

.submitted {
  color: #777;
}

/* Comments */

.comment {
  border-top: 1px solid #DDD;
}

/* Forms */

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #F88;
}

.form-submit {
  border: none;
  color: #000000;
  padding: 0.4em;
  background: #ACD573;
}