#navigation ul.primary-links {
 line-height: 1.8
}

#navigation {
  margin-top: 0px;
}

pre {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 0 1em 0;
}

fieldset {
  background: none;
}

input.form-text {
	padding: 1px 2px;
}
