
/* Layout */

#page {
  width: 940px;
  margin: 0 auto;
  background: url(../images/page-bg.jpg) top left repeat-x #daf2b9; 
}

#page-inner {
  padding: 0 1.1em;
}

#site-name {
  float: left;
  font-size: 2.4em;
  font-weight: bold;
  margin-left: 160px;
  margin-top: -70px;
  position: relative;
  text-transform: uppercase;
}

.logo {
  position:relative;
}

.logo img {
  float:left;
  margin-left:40px;
}

#slogan {
  color: #666666;
  display: block;
  float: left;
  font-size: 1.3em;
  margin-left: 160px;
  margin-top: -45px;
}

#header {
  padding: 1em 0 0.5em 0;
}

#header-right {
  float: right;
  margin-top: 75px;
}

.sidebar {
  float: left;
  width: 150px;
}

#left {
  margin-right: 15px;
  clear: left;
}

#left .block {
  margin-top: 0.6em;
}

.before {
  background: #ACD573;
  color: #FFFFFF;
  font-size: 1.2em;
  margin: 0.5em 0;
  padding: 1em 5em;
}

.before a:link, .before a:visited {
   color: #FFF;
}

.before a:hover {
  color: #fc704a;
}

.before p {
  margin-bottom: 0;
}

#centre {
  float: left;
  margin-bottom: 1em;
  width: 910px;
}

.sidebar-left #centre {
  width: 740px;
  padding-right: 0;
}

.inner-centre {
  background:  #FFFFFF none repeat scroll 0 0;
  padding: 0.2em 2em;
}

.cap {
  background: url(../images/cap.gif) no-repeat left top;
  display: block;
  width: 740px;
}

.foot {
  background: url(../images/foot.gif) no-repeat scroll left bottom;
  display: block;
  width: 740px;
}

#footer,
#footer-message {
  font-size: 0.9em;
  clear: both;
}

.breadcrumb {
  font-size: 0.9em;
  margin-left: 180px;
}

.clear {
  clear: both;
}
