
/* Primary links */

#navigation {
  margin-bottom: 0;
  margin-top: 0em;
  text-align: right;
  width: 910px;
  position: absolute;
}

.primary-links {
  line-height: 2;
  border-top: 4px solid #FF531A;
}

.secondary-links {
  line-height: 1.8;
  background-color: #A6DD47;
}

ul.primary-links li {
  padding: 0;
}

.primary-links a,
.secondary-links a {
  padding: 0 1em;
}

.primary-links a:link,
.primary-links a:visited {
  color: #c0b9b9;
  padding: 0 1em;
}

.primary-links a:hover {
  color: #43B74C;
}

.secondary-links a:hover {
  color: #494949;
}

.primary-links a.active {
  color: #43B74C;
  border-top: 5px solid #acd573;
}


/* Navigation */

#left li.leaf {
  background: url(../images/bullet.gif) top left no-repeat;
  padding-left: 12px;
}

#left li.collapsed {
  background: url(../images/collapsed.gif) top left no-repeat;
  padding-left: 12px;
}


#left li.expanded {
  background: url(../images/expanded.gif) top left no-repeat;
  padding-left: 12px;
}

#left ul.menu {
  margin-left: 0;
}

#left ul.menu a:hover {
  background: #eff9e0;
}

#left ul.menu a {
  padding-left: 2px;
  font-size: 0.9em;
}
	
  padding: 0;
  margin: 0 0 1em 0;
  border: 0;
}

ul.secondary li {
  padding: 0;
  margin-right: 1em;
  border: none;
}
