
/* Global */

body,
textarea {
  font-size: 100%;
  font-family: "Lucida Grande","Bitstream Vera Sans",Arial,sans-serif
}

body {
  line-height: 1.5;
}

#page {
  font-size: 0.9em; /* 16px * 0.9 = 14.4px */
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1.5em;
}

address {
  font-style: normal;
  margin-bottom: 1.5em;
}

blockquote {
  margin: 1em 2em 1em 0;
  padding-left: 3em;
  font-style: italic;
  background: url(../images/quote.png) no-repeat;
}

code, pre {
  font-family: Monaco, "Lucida Console", monospace;
  white-space: pre;
  overflow: auto;
  margin-bottom: 1.5em;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 0.5em;
  line-height: 1.1;
  text-transform: uppercase;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

.block h2 {
  font-size: 1.2em;
}

#left .block h2 {
  background: #ACD573 none repeat scroll 0 0;
  font-size: 1em;
  padding: 0.2em 0.5em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}

h6 {
  font-size: 1em;
  margin-bottom: 0;
  font-weight: bold;
}

td.view-field-node-title a:link, td.view-field-node-title a:visited {
  color: #FF531A;
  font-size: 1.1em;
  font-weight: bold;
}


/* Blocks */

.block ul {
  margin-left: 10px;
}

.block ul li,
.block .item-list ul li {
  list-style: none;
  list-style-image: none;
}

.block #user-login-form {
  text-align: left;
}

/* Messages */

.messages,
.help {
  font-size: 0.9em;
}

/* Nodes */

.submitted {
  font-size: 0.9em;
}

.node-links {
  text-align: right;
}

/* Comments */

.comment-links {
  text-align: right;
}

/* Drupal */

.breadcrumb {
  font-size: 0.9em;
}
